@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

@theme {
  --font-primary: "Rubik", sans-serif;
  --leading-primary-header: 100%;
  --leading-primary-heading: 30px;
  --leading-primary-text: 30px;
  --color-primary: #0b132a;
  --color-secondary: #4f5665;
  --color-primary-text: #4f5665;
  --color-secondary-text: #0b132a;
  --color-primary-heading: #0b132a;
  --color-primary-header: #0b132a;
  --color-menu-text: #4f5665;
  --color-primary-btn: #f53855;
  --color-primary-btn-text: #f53855;
  --color-primary-btn-border: #f53855;
  --color-secondary-btn: #f53838;
  --color-secondary-btn-border: #f53838;
  --color-footer-bg: #f8f8f8;
  --color-footer-icons-bg: #f53838;
  --color-copyright-p: #afb5c0;
  --color-hamburger-btn: #4f5665;
  --color-hamburger-btn-dark: #e2e8f0;
  --text-primary-div: 18px;
  --text-primary-div--line-height: 30px;
  --text-primary-div--font-weight: 500;
  --text-secondary-div: 16px;
  --text-secondary-div--line-height: 30px;
  --text-secondary-div--font-weight: 400;
  --text-banner-heading: 50px;
  --text-banner-heading--line-height: 70px;
  --text-banner-heading--font-weight: 500;
  --text-banner-heading-mobile: 40px;
  --text-banner-heading-mobile--line-height: 55px;
  --text-banner-heading-mobile--font-weight: 500;
  --text-primary-h2: 35px;
  --text-primary-h2--line-height: 50px;
  --text-primary-h2--font-weight: 500;
  --text-secondary-h2: 35px;
  --text-secondary-h2--line-height: 45px;
  --text-secondary-h2--font-weight: 500;
  --text-primary-h3: 25px;
  --text-primary-h3--line-height: 30px;
  --text-primary-h3-font-weight: 700;
  --text-secondary-h3: 18px;
  --text-secondary-h3--line-height: 30px;
  --text-secondary-h3--font-weight: 500;
  --text-primary-p: 16px;
  --text-primary-p--line-height: 30px;
  --text-primary-p--font-weight: 400;
  --text-secondary-p: 14px;
  --text-secondary-p--line-height: 30px;
  --text-secondary-p--font-weight: 400;
  --text-custom-p-3: 25px;
  --text-custom-p-3--line-height: 30px;
  --text-custom-p-3--font-weight: 400;
  --text-custom-p-4: 20px;
  --text-custom-p-4--line-height: 30px;
  --text-custom-p-4--font-weight: 400;
  --text-primary-btns: 16px;
  --text-primary-btns--line-height: 25px;
  --text-primary-btns--font-weight: 700;
  --text-secondary-btns: 16px;
  --text-secondary-btns--line-height: 100%;
  --text-secondary-btns--font-weight: 700;
  --shadow-footer-icons: 0px 13px 18px 0px #11132314;
  --blur-btn-blur: 30px;
  --shadow-btn-shadow: 0 15px 25px rgba(245, 56, 56, 0.35);
  --shadow-box-shadow-2: 0 10px 114px 0 rgb(13 16 37 / 6%);
}

.swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
  background: #dde0e4;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 45px !important;
  background: #f53838 !important;
  border-radius: 15px !important;
}

.swiper-slide > div {
  transition: all 0.3s ease-in-out !important;
}
